input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{ -webkit-appearance: none !important;margin: 0; }
.rel{ position:relative}
.login{}
.pdl_37{ padding-left:.37rem;}
.login li{ box-sizing:border-box; -webkit-box-sizing:border-box; position:relative;}
.pdl1_6{ padding-left:1.6rem;}
.login li i{position:absolute;top:0.4333rem; left:0;  display:inline-block; height:1.6rem; width:1.6rem; }
.login li .user_icon{ background:url(../images/user.png) no-repeat left top/1.6rem}
.login li .lock_icon{ background:url(../images/lock.png) no-repeat left top/1.6rem}
.login li .inp_div{ border-bottom:0.067rem solid #e9eeef;height:2.4667rem; line-height:2.4667rem;}
.login li .inp{ width:100%; border:0; color:#333; font-size:.933rem; padding:.5rem 0; line-height:1.4667rem; background-color:transparent;}
.login li input.inp:-webkit-autofill{-webkit-box-shadow: 0 0 0 1.4667rem white inset;}
.login li .inp:-webkit-input-placeholder{ color:#e6e6e8}
.login li .yan_icon{position:absolute;top:0.4333rem; right:1rem;  display:inline-block; height:1.6rem; width:1.6rem; background:url(../images/yan1.png) no-repeat left top/1.6rem;}
.btn_login{ line-height:2.667rem; height:2.667rem; background:#006ff2; color:#FFF; font-size:1.067rem; width:100%; border:0; border-radius:0.25rem; -webkit-border-radius:0.25rem;}
.forget_pas{ line-height:2.467rem; color:#006ff2; text-align:right}
.login li .iphone_icon{ background:url(../images/phone.png) no-repeat left top/1.6rem}
.pdr5_8{ padding-right:5.8rem;}
.login li .dxyzm{ border-bottom: 0.067rem solid #e9eeef;box-sizing:border-box; -webkit-box-sizing:border-box; padding-left:.667rem;}
.login li .code{ height:1rem; line-height:1rem; position:absolute; right:0; top:0; padding:0.7335rem 0; width:5.8rem;}
.login li .code em{ color:#006ff2; border-left:0.067rem solid #e9eeef; display:block; padding-left:.5rem; font-size:.8rem}
.login li .code .dis{ color:#333}
.login li .code_img{ height:1.867rem; width:4.333rem; position:absolute; right:.5rem; background: #eee; top:0.25rem;} 
.update_success{ padding-top:6.5rem;}
.update_success .cont{ height:2.333rem; line-height:2.333rem; text-align:center; font-size:1rem;}
.update_success .cont .icon_success{ height:2.333rem; width:2.333rem; display:inline-block; background:url(../images/dui.png) no-repeat center left/2.333rem;vertical-align:top; margin-right:.667rem;}
.login footer{ padding:.5rem 0; line-height:2; }
.login footer a{ display:inline-block; text-decoration:underline; color:#006ff2; padding:0 .5rem;}



